@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://coolors.co/031926-468189-77aca2-9dbebb-f4e9cd */

html {
	color: #3a3a3a;
	fill: #3a3a3a;
	background-color: #ffffff;
}

.dark {
	color-scheme: dark;
	background-color: #212324;
	scrollbar-color: #ffffff50 transparent;
	color: #e4e3df;
	fill: #e4e3df;
}

.text-dark-mode {
	color: #e4e3df;
}

.text-light-mode {
	color: #3a3a3a;
}

.skeleton {
	background-color: rgb(189, 189, 201);
}

.dark .skeleton {
	background-color: rgb(106, 106, 121);
}

/* Style Reddit MD which mostly uses default css values
   See https://www.w3schools.com/cssref/css_default_values.asp */

.reddit-md {
	word-wrap: break-word;
}

.reddit-md a {
	color: #0079d3;
	fill: #0079d3;
}

.reddit-md a:hover {
	text-decoration: underline;
}

.dark .reddit-md a {
	color: #5aade0;
	fill: #5aade0;
}

.reddit-md strong {
	font-weight: bold;
}

.reddit-md del,
strike {
	text-decoration: line-through;
}

.reddit-md em {
	font-style: italic;
}

.reddit-md p {
	margin-top: 0.33em;
	margin-bottom: 0.33em;
}

.reddit-md h1 {
	font-size: larger;
	font-weight: bold;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}

.reddit-md h2 {
	font-size: large;
	font-weight: bold;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}

.reddit-md h3 {
	font-size: 1.17em;
	font-weight: bold;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}

.reddit-md h4 {
	font-size: 1rem;
	font-weight: bold;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}

.reddit-md h5 {
	font-size: 0.83em;
	font-weight: bold;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}

.reddit-md h6 {
	font-size: 0.67em;
	font-weight: bold;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}

.reddit-md hr {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-color: rgba(97, 97, 97, 0.096);
}

.dark .reddit-md hr {
	border-color: rgba(88, 88, 88, 0.658);
}

.reddit-md li {
	display: list-item;
}

.reddit-md ol,
.reddit-md ul {
	list-style-type: disc;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 20px;
}

.reddit-md li > ul {
	list-style-type: circle;
}

.reddit-md ol {
	list-style-type: decimal;
}

.reddit-md blockquote {
	border-left: 4px solid gray;
	color: rgb(99, 99, 99);
	padding-left: 0.5rem;
	margin-left: 0.5rem;
}

.dark .reddit-md blockquote {
	color: rgb(190, 190, 190);
}

.reddit-md .spoiler {
	background: #595a61;
	border-radius: 2px;
	cursor: pointer;
	color: transparent;
}

.dark .reddit-md .spoiler {
	background: rgb(190, 190, 190);
}

.reddit-md pre {
	overflow-x: auto;
	background-color: #eef1f7;
	border-radius: 0.25rem;
	padding: 0.25rem 0.5rem;
	margin: 0.25rem 0rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.dark .reddit-md pre {
	background-color: rgb(66, 66, 66);
}

.reddit-md .spoiler.revealed {
	transition: background 450ms;
	background: rgba(79, 79, 79, 0.1);
	border-radius: 2px;
	cursor: text;
	color: #3a3a3a;
}

.dark .reddit-md .spoiler.revealed {
	color: #e2e2e2;
	background: rgba(121, 121, 121, 0.315);
}

.reddit-md code:not(pre code) {
	border: solid 1px #d3d3d3;
	padding: 0rem 0.25rem;
	border-radius: 0.125rem;
	background-color: #f0f1f5;
}

.dark .reddit-md code:not(pre code) {
	border: solid 1px #5a5a5f;
	background-color: #3f4242;
}

.reddit-md img {
	display: inline;
	margin: 0 0.25rem;
}

.reddit-md table {
	overflow-x: auto;
}

.reddit-md table,
.reddit-md th,
.reddit-md td {
	border: 1px solid #e5e3da;
	padding: 4px 9px;
}

.dark .reddit-md table,
.dark .reddit-md th,
.dark .reddit-md td {
	border: 1px solid #505153;
	padding: 4px 9px;
}
